<?xml version='1.0' encoding='utf-8'?>
<widget id="flechataxiscuba.com" version="4.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name> La Flecha</name>
    <description>Una aplicación para servicio de taxis en La Habana.</description>
    <author email="habanaservicentro@gmail.com" href="http://ionicframework.com/">Dalexi Glez Madruga</author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="whatsapp//*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://10.9.0.238:8100" />
    <allow-navigation href="http://192.168.1.101:8100" />
    <allow-navigation href="https://taxislibrehabana.herokuapp.com/*" />
    <allow-navigation href="http://101.96.0.62:8100" sessionid="48a16c88" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
</widget>
